body{
	background:url("../image/bluefon.png");
	background-attachment: fixed;
	background-size: cover;
	color: #000;
}

/*font-family: algerian; Почему в боди меняет только выборочные теги? почему не захватывает все*/ 
	/*border: 1px solid blue;*/

.header {
    height: 60px;
    width: 100%;
    position: relative;
}

.fixmenu {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#menuLinks a {
	background-color: #add9fe;
	text-align: center;
    border-radius: 14px;
    color: black;
    padding: 7px;
    margin: 10px;
    text-decoration: none;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    font-size: 16px;
	font-family: comic sans ms;
} 

.avatar{
	height: 60px;
	width: 60px;
	border-radius: 60px;
	background-color: yellow;
	margin: 10px;
	font-family: comic sans ms;
}

.header button {
	text-align: center;
    border-radius: 14px;
    background-color: #add9fe;
    color: black;
    padding: 7px;
    margin: 10px;
    text-decoration: none;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    font-size: 16px;
    font-family: comic sans ms;
}

.addMenu {
	text-align: center;
	border-radius: 14px;
	background-color: #add9fe;
	color: black;
	padding: 7px;
	margin: 10px 0px;
	text-decoration: none;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    font-size: 16px;
    font-family: comic sans ms;
}

.content{
    margin: 60px 0 0 0;
	/*font-family: wide latin;*/
}

h1, h2{
	text-align: center;
	margin: 0;
	height: 50px;
	width: 1040px;	 
}

.contentBox{
	display: flex;
}

.img{
	width: 500px;
	margin: 5px 0;
	padding: 10px;
}

img {
	padding: 10px;
}

.text{
	font-size: 20px;
	vertical-align: top;
	width: 500px;
	margin: 5px 0;
	color: black;
	padding: 10px;
}

#addTasks{
	width: 500px;
	height: 100px;
	max-width: 500px;
	border-radius: 50px;
    text-align: center;
}

.addTasks{
	border: 1px solid blue;
	width: 500px;
	height: 100px;
	background-color: #add9fe;
	text-align: center;
	margin: 5px 0;
	border-radius: 50px;
    text-align: center;
    vertical-align: middle;

}

#buttonTasks{
	text-align: center;
    border-radius: 14px;
    background-color: #add9fe;
    color: black;
    padding: 7px;
    margin: 10px;
    text-decoration: none;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    font-size: 16px;
    font-family: comic sans ms;
}

#button{
	text-align: center;
	margin: 10px 0;
	width: 1040px;
	font-weight: bold;
/*	border: 1px solid blue;*/
}

#button button{
	text-align: center;
    border-radius: 14px;
    background-color: #add9fe;
    color: black;
    padding: 7px;
    text-decoration: none;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    font-size: 16px;
    font-family: comic sans ms;
    /*margin: 10px;*/
}

#General{
	display: flex;
	color: red;
	font-weight: bold;
}
.mr-5{
	margin-right: 5px;
}

#itemlist {
	color: red;
	font-weight: bold;
}

.itemList {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.target{
	cursor: pointer;
}





#imagecontainer{
	border: 1px solid blue;
	height: 500px;
	width: 1040px;

}

.changeImg {
    transition: 1s; /* Время эффекта */
   }
.changeImg:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}
















#calculator{
	margin: 5px 0;
	height: 200px;
	width: 1040px;
	border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
	text-align: center;
	background-color: #add9fe;
}

#telItems < input{
	width: 200px;
	border: 1px solid blue;
}


i + b {
	color: red;
}

/*

Обращатся по разным селекторам

1.Первый эл. из списка тегов (:first)

2.Первый эл. из списка тегов (:last)

3.Соседние эл. из списка тегов (тег + тег)

4.На каждый атрибут еще по три типа вывести в консоль ([атрибут = имя атрибута])

область видемости функции !!!

*/


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}