body{
	background: url("../image/bigfon.jpg"); 
	background-size: cover;
	color: #000;

}

/*h1 {
	font-size: 20px;
	color: #000;
}*/

.fix{
	max-width: 1010px;
	margin: 0 auto;

}

.header {
    height: 60px;
    width: 100%;
    position: relative;
}

.fixmenu {
    height: inherit;
    background: #00ffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}


}
#menuLinks a {
	text-align: center;
	border: 1px solid blue;
	background-color: #00ffff;
	color: black;
	padding: 5px;
	margin: 10px 0px;
	text-decoration: none;
}

.header button {
	text-align: center;
	border: 1px solid blue;
	background-color: #00ffff;
	color: black;
	padding: 7px;
	margin: 10px 0;
}

h1, h2{
	margin: 0;
	text-align: center;
	height: 68px;
}

.img{
	/*float: left;*/
	width: 479px;
	height: 250px;
	margin: 5px 0;
	border: 1px solid blue;
}

.text{
/*	float: right;*/
	font-size: 20px;
	vertical-align: top;
	overflow: hidden;
	width: 479px;
	height: 250px;
	margin: 5px 0;
	border: 1px solid blue;
}

.addTasks{
	border: 1px solid blue;
	width: 479px;
	height: 100px;
	background-color: #00ffff;
	text-align: center;
	margin: 5px 0;

}

#addTasks{
	width: 479px;
	height: 100px;
	max-width: 450px;
}

#buttonTasks{
	text-align: center;
	border: 1px solid blue;
	background-color: #00ffff;
	color: black;
	padding: 7px;
	margin: 10px 0;
}

#button{
	text-align: center;
	border: 1px solid blue;
	margin: 5px 0;
}

#button button{
	text-align: center;
	border: 1px solid blue;
	background-color: #00ffff;
	color: black;
	padding: 7px;
	margin: 10px 0px;
	/*overflow: hidden;*/
}
.addMenu {
	text-align: center;
	border: 1px solid blue;
	background-color: #00ffff;
	color: black;
	padding: 7px;
	margin: 10px 0px;
	/*overflow: hidden;*/
}

#itemlist {
	color: yellow;
	font-weight: bold;
}

.itemList {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.target{
	cursor: pointer;
}
#General{
	display: flex;
	
}
.mr-5{
	margin-right: 5px;
}

#calculator{
	margin: 5px 0;
	height: 200px;
	border: 1px solid blue;
	text-align: center;
	background-color: #00ffff;
}

#telItems input{
	width: 200px;
	border: 1px solid blue;
	
}